.sidebar-link {
    cursor: pointer;
    transition:ease-in;
    transition-duration: 0.2s;
}

.sidebar-link:hover {
    background-color: gray;
    
}

.rect-img-container {
    position: relative;
  }
  
  .rect-img-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
  .rect-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }